.livematch__container {
  margin: 1rem;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.matches{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  direction: rtl;
  background-color: lightgray;
  width: 100%;
  border: 1px black;
  margin: 1px;
  padding: 10px;
}
.livematch__homeTeam {
  display: flex;
  justify-content: space-evenly;
  justify-content: center;
}
.livematch__livescores {
  background-color: white;
  display: grid;
  justify-content: center;
  align-items: center;
}
.livematch__awayTeam {
  display: flex;
  justify-content: center;
}
.team-name{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
